@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background: #000235;
   color: white;
   font-family: "Roboto", sans-serif;
   overflow-x: hidden;
}

/* typography */
.text-h1 {
   font-size: clamp(2rem, 5vw, 5rem);
   line-height: clamp(2.5rem, 5vw, 5rem);
}

.text-p {
   font-size: clamp(1rem, 3vw, 1.5rem);
}

.text-button {
   font-size: clamp(0.5rem, 2vw, 1rem);
}

/* navbar */
.navbar-show {
   right: 0;
   top: 80px;
   transition: all 300ms ease-in;
}

.navbar-hide {
   right: -10rem;
   top: 80px;
   transition: all 300ms ease-in;
}
